@import "../variables";

header {
  height: $header_height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: $header_z_index;
  background: var(--header-background-color);

  .title {
    height: 100%;
    text-indent: -9999px;
    background-image: url("../../static/header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
